/* ! purgecss start ignore */

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
  src: local("IBM Plex Sans"), local("IBMPlexSans"),
    url("../fonts/ibm-plex-sans-v7-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-sans-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-500 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-display: "swap";
  src: local("IBM Plex Sans Medium"), local("IBMPlexSans-Medium"),
    url("../fonts/ibm-plex-sans-v7-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-sans-v7-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-600 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-display: "swap";
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"),
    url("../fonts/ibm-plex-sans-v7-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-sans-v7-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-sans-700 - latin */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-display: "swap";
  src: local("IBM Plex Sans Bold"), local("IBMPlexSans-Bold"),
    url("../fonts/ibm-plex-sans-v7-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-sans-v7-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ibm-plex-serif-300 - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 300;
  font-display: "swap";
  src: local("IBM Plex Serif Light"), local("IBMPlexSerif-Light"),
    url("../fonts/ibm-plex-serif-v8-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-serif-v8-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-serif-regular - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 400;
  font-display: "swap";
  src: local("IBM Plex Serif"), local("IBMPlexSerif"),
    url("../fonts/ibm-plex-serif-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-serif-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-serif-600 - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 600;
  font-display: "swap";
  src: local("IBM Plex Serif SemiBold"), local("IBMPlexSerif-SemiBold"),
    url("../fonts/ibm-plex-serif-v8-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-serif-v8-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ibm-plex-serif-700 - latin */
@font-face {
  font-family: "IBM Plex Serif";
  font-style: normal;
  font-weight: 700;
  font-display: "swap";
  src: local("IBM Plex Serif Bold"), local("IBMPlexSerif-Bold"),
    url("../fonts/ibm-plex-serif-v8-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/ibm-plex-serif-v8-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@tailwind base;
/* ! purgecss end ignore */

@tailwind components;

@tailwind utilities;
