/* ! purgecss start ignore */
@tailwind base;
/* ! purgecss end ignore */

@tailwind components;

@tailwind utilities;

/* ! purgecss start ignore */

html {
  @apply text-gray-800;
}

.fb-comments iframe {
  width: 100% !important;
}

.prev-next-post {
  height: 3rem;
  margin: 0 0 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ! purgecss end ignore */
