/*!purgecss start ignore */

.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.richtext {
  @apply leading-normal break-words text-body font-serif text-lg;
}

@screen lg {
  .richtext {
    @apply leading-loose text-xl;
  }
}

.richtext > * {
  @apply mt-0 mb-4;
}

.richtext li + li {
  @apply mt-1;
}

/* Could not understand the logic here */
/* .richtext li > p + p {
  @apply mt-6;
} */

.richtext strong {
  @apply font-medium;
}

.richtext a {
  @apply border-blue-200 border-b-2;
}

.richtext strong a {
  @apply font-medium;
}

.richtext a:hover {
  @apply border-blue-700;
}

.richtext h1 {
  @apply leading-tight text-3xl font-medium mb-4 mt-6 pb-2;
}

.richtext h2 {
  @apply leading-tight text-2xl font-medium mb-4 mt-6 pb-2;
}

.richtext h3 {
  @apply leading-snug text-xl font-medium mb-4 mt-6;
}

.richtext h4 {
  @apply leading-none text-lg uppercase font-medium mb-4 mt-6;
}

.richtext h5 {
  @apply leading-tight font-medium mb-4 mt-6;
}

.richtext h6 {
  @apply leading-tight italic font-medium mb-4 mt-6;
}

.richtext blockquote {
  @apply text-xl border-l-4 border-blue-600 pl-4 pr-4 text-gray-900 italic;
}

.richtext code {
  @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

.richtext pre {
  @apply bg-gray-100 rounded p-4 mt-1 overflow-auto;
}

.richtext pre code {
  @apply block text-sm bg-transparent p-0 overflow-visible rounded-none;
}

.richtext ul {
  @apply pl-8 list-disc;
}

.richtext ol {
  @apply pl-8 list-decimal;
}

.richtext kbd {
  @apply inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

.richtext table {
  @apply text-base border-gray-600;
}

.richtext th {
  @apply border py-1 px-3;
}

.richtext td {
  @apply border py-1 px-3;
}

.richtext .highlight pre {
  @apply bg-gray-100 !important;
}

.richtext p img {
  @apply inline;
}

.richtext figure,
.richtext img {
  @apply max-w-3xl;
}

.richtext figcaption {
  @apply max-w-3xl text-center text-gray-600 text-sm;
}

@media screen and (max-width: 425px) {
  .richtext iframe {
    max-width: 100%;
  }
  .richtext figure img {
    max-width: 100%;
  }
}

/*!purgecss end ignore */
