/* ! purgecss start ignore */
@tailwind base;
/* ! purgecss end ignore */

@tailwind components;

@tailwind utilities;

/* ! purgecss start ignore */
.fb-comments iframe { width: 100% !important; }
/* ! purgecss end ignore */
